@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.classname {
    font-family: 'Prompt', sans-serif;
    color: #856FB4;
    text-align: left;
    padding-left: 20px;
    font-size: 36px;
}

.activityclass{
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    color: rgb(158, 144, 170);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}


.Question{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    color: #4d4d4d;
    font-weight: 600;
}

.buttonyes{
    font-family: 'Prompt', sans-serif;
    margin-left: auto;
    margin-right: auto;

}

.buttonno{
    font-family: 'Prompt', sans-serif;
    margin-left: auto;
    margin-right: auto;

}

.activityname{
    font-family: 'Prompt', sans-serif;
    font-size: 16pt;
    color:#f5df4d;
    font-weight: 500;
}
.activityduedate{
    font-family: 'Prompt', sans-serif;
    font-size: 14pt;
    color: rgb(237, 211, 255);
    font-weight: 400;
}

.ActivityTitle{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    color: #856FB4;
    font-weight: 600;
}

.imgwater{
    display: block;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.centerbutton{
    display: block;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 150;
}

.textinbutton{
    font-family: 'Prompt', sans-serif;
    color: white;

}

.deletebutton{
    font-family: 'Prompt', sans-serif;
}

.editbutton{
    font-family: 'Prompt', sans-serif;
}

.status{
    font-family: 'Prompt', sans-serif;
    color: rgb(255, 101, 101);
    margin-left: auto;
    margin-right: auto;
}

.statusactive{
    font-family: 'Prompt', sans-serif;
    color: #7AD400;
    margin-left: auto;
    margin-right: auto;
}

.disablebutton{
    font-family: 'Prompt', sans-serif;
    color: #ffffff;
}

.createactivity{
    font-family: 'Prompt', sans-serif;
    color: #ffffff;
}