@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");


.edit-profile{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 18pt;
    font-weight: 550;
    width: fit-content;

}

.buttonedit{
    font-family: 'Prompt', sans-serif;

}

.textleave{
    font-family: 'Prompt', sans-serif;
    color: black;
    font-size: 16pt;

}

.answer1{
    font-family: 'Prompt', sans-serif;
    color: #757575;
}

.answer2{
    font-family: 'Prompt', sans-serif;
    color: #ffffff;
}

.leave{
    font-family: 'Prompt', sans-serif;
    color: #5F498C;

}