.activity-list {
    display: flex;
    flex-direction: column-reverse;
}
.intime {
    font-family: "Prompt", sans-serif;
    font-size: 24px;
    color: greenyellow;
}
.outtime {
    font-family: "Prompt", sans-serif;
    font-size: 24px;
    color: rgb(221, 80, 80);
}


.newline {
    display: none
}

.titleASN {
    display: inline-block;
    font-size: 15pt;
    font-weight: 500;
}

.questionASNedit {
    font-family: "Prompt";
    color: #ffffff;
}

.questionASN {
    display: inline-block;
    font-size: 18px;
}

.datetimeASNedit {
    font-size: 18px;
}

.activitybuttion {
    font-size: 18px;
    font-family: "Prompt";
    color: #f5df4d;;
}

.activitybutton {
    font-size: 20pt;
    font-family: "Prompt";
    padding-top: 10px;
    color: #f5df4d;;
}

.questionACT {
    font-size: 18px;
    font-family: "Prompt";
    color: #f5df4d;;
}

.activitybutton-outed-date {
    font-family: 'Prompt', sans-serif;
    color: #cab739;
}

.statussent-outed-date {
    font-family: 'Prompt', sans-serif;
    color: #dddddd;
}

.questionACT-outed-date {
    font-family: 'Prompt', sans-serif;
    color: #cab739;
}

.activity-outed-date {
    font-family: 'Prompt', sans-serif;
    color: #f5df4d;
}
.duetimeactivity-outed-date {
    font-family: 'Prompt', sans-serif;
    color: rgb(226, 226, 226);
    padding-left: 4px;
}
.duetimeactivity-activate {
    font-family: 'Prompt', sans-serif;
    color: rgb(255, 255, 255);
    padding-left: 4px;
}



@media (max-width: 54em) {
    .datetimeASNedit {
        font-size: 16px;
    }
    .duetimeactivity-activate {
        font-family: 'Prompt', sans-serif;
        color: rgb(255, 255, 255);
        padding-left: 4px;
        width: 140px;
    }
    .newline {
        display: flex;
    }

    .titleASN {
        font-size: 18px
    }

    .questionASN {
        font-size: 16px;
    }
    
}