@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.yourActivity{
    font-family: 'Prompt', sans-serif;
    font-size: 20pt;
    font-weight: 600;
    color: #5D4E7C ;
    padding-left: 30px;
    padding-top: 10px;
}

.Class{
    font-family: 'Prompt', sans-serif;
    color: #84729f;
    font-size: 15pt;
    font-weight: 600;
}