@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.classname {
    font-family: 'Prompt', sans-serif;
    color: #856FB4;
    text-align: left;
    padding-left: 20px;
    font-size: 36px;
}

.activityclass{
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    color: rgb(158, 144, 170);
    text-align: center;
    padding-top: 25%;
}