@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
.screen{
    height: auto;
}

.classname {
    font-family: 'Prompt', sans-serif;
    color: #856FB4;
    font-size: 100px;
    font-weight: 600;
    padding-top:20px;
    text-align: center;
}

.button1 {
    font-family: 'Prompt', sans-serif;
    color: #ffffff;
}
.button2 {
    font-family: 'Prompt', sans-serif;
    color: #ffffff;
}
.post {
    font-family: 'Prompt', sans-serif;
    color: #6d5e8f;
}

.center{
    margin-left: auto;
    margin-left: auto;
    padding-left: 8%;
}
.postbutton{
    padding-left: 70%;
    padding-right: 10%;
    font-family: 'Prompt', sans-serif;
}

.postbuttontext {
    font-family: 'Prompt', sans-serif;
    color: #ffffff;

}

.postername {
    font-family: 'Prompt', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 13pt;
    font-weight: 900;

}

.postinfo{
    font-family: 'Prompt', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}