@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
.classname {
    font-family: 'Prompt', sans-serif;
    color: #856FB4;
    text-align: left;
    padding-left: 20px;
    font-size: 36px;
}

.activityclass{
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    color: rgb(158, 144, 170);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}


.Question{
    font-family: 'Prompt', sans-serif;
    font-size: 15pt;
    text-align: center;
    color: #4d4d4d;
    font-weight: 600;
}

.buttonyes{
    font-family: 'Prompt', sans-serif;
    margin-left: auto;
    margin-right: auto;

}

.buttonno{
    font-family: 'Prompt', sans-serif;
    margin-left: auto;
    margin-right: auto;

}

.activitybutton{
    font-family: 'Prompt', sans-serif;
    font-size: 16pt;
    font-weight: 500;
    color: #f5df4d;
}

.ActivityTitle{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    color: #856FB4;
    font-size: 18pt;
    font-weight: 600;
}

.imgwater{
    padding-top: 5%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.centerbutton{
    display: block;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 150;
}

.duedatetime{
    font-family: 'Prompt', sans-serif;
}

.duetimeactivity{
    font-family: 'Prompt', sans-serif;
    color: aliceblue;
    padding-left: 2px;
}

.assignment-detail-activity{
    justify-content: center;
    display: flex;
    font-family: 'Prompt', sans-serif;
    color :#a293c0
}

.statussent{
    font-family: 'Prompt', sans-serif;
    color: rgb(255, 255, 255);
}

.viewscore{
    font-family: 'Prompt', sans-serif;
    font-size: 12pt;
    font-weight: 600;
    color: rgb(119, 99, 11);
}

.end-time {
    display: inline-block;
    padding-right: 0px;
}

.spacebot {
    padding-bottom: 70px;
}

.backtoclass {
    text-align: left;
    font-family: "Prompt";
    font-size: 12pt;
    font-weight: 400;
    width: fit-content;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 200px;
    margin: 0 auto;  
    margin-left: 3%;
    margin-bottom: 10px;
      
}

@media (min-width: 42em) {

    .duetimeactivity{
        font-family: 'Prompt', sans-serif;
        color: aliceblue;
        width: 130px;
        padding-left: 2px;
    }
}

@media (max-width: 500px) {

    .ActivityTitle{
        font-family: 'Prompt', sans-serif;
        text-align: center;
        color: #856FB4;
        font-size: 15pt;
        font-weight: 600;
    }

}