@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.classname {
    font-family: 'Prompt', sans-serif;
    color: #856FB4;
    text-align: center;
    font-size: 36px;
}

.membertitle{
    font-family: 'Prompt', sans-serif;
    color: #ffffff;
}
.membertopic{
    font-family: 'Prompt', sans-serif;
    padding-left: 10px;
}

.center{
    font-family: 'Prompt', sans-serif;
    color: white;
}


.centertext{
    font-family: 'Prompt', sans-serif;
    color: rgb(54, 54, 54);
    font-size: 14pt;
    font-weight: 600;
    padding-left: 20px;
}

.boxname{
    width: 90%;
    padding-top: 10px;
}

.texttitle1{
    font-family: 'Prompt', sans-serif;
    font-size: 16pt;
    font-weight: 600;
    color: #542ea1;

}

.texttitle2{
    font-family: 'Prompt', sans-serif;
    font-size: 14pt;
    color: #542ea1;
}

.boxtitle{
    width: 70%;
}
.namestudent{
    font-family: 'Prompt', sans-serif;
    font-size: 14pt;
    padding-bottom: 8px;

}
@media only screen and (min-width: 1200px) {
    .boxtitle{
        width: 50%;
    }
}