@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.classname {
    font-family: 'Prompt', sans-serif;
    color: #856FB4;
    text-align: left;
    padding-left: 20px;
    font-size: 36px;
}

.membertitle{
    font-family: 'Prompt', sans-serif;
    color: #ffffff;
}
.membertopic{
    font-family: 'Prompt', sans-serif;
}

.center{
    font-family: 'Prompt', sans-serif;
    color: white;
}


.centertext{
    font-family: 'Prompt', sans-serif;
    color: rgb(54, 54, 54);
    font-size: 14pt;
    font-weight: 600;
    padding-left: 20px;
}