@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.hello {
    font-family: 'Prompt', sans-serif;
    color: #311b92;
    text-align: center;
    font-weight: 600;
    padding-top: 15px
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400&display=swap');
.titleclass {
    font-family: 'Prompt', sans-serif;
    font-size: 28pt;
    font-weight: 600;
    color: #5d4e7c;
    padding-left: 20px;
    padding-top: 20px;
}

.roomname {
    font-family: 'Prompt', sans-serif;
    color: white;
    text-align: left;
}

.cardcontent{
    font-family: 'Prompt', sans-serif;
    font-size: 23pt;
    font-weight:600 ;
    padding-left: 20px;
    color: #4d4a53;

}

error {
    border: 1px solid red;
    padding: 3px;
    margin-left: 20px ;
    max-width: fit-content;
}