@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");



.App-header {
    background: linear-gradient(180deg, rgba(95,73,140,1) 0%, rgba(148,130,184,1) 35%, rgba(255,255,255,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.login-page {
    background: #ffffff;
    width: 90%;
    max-height: 90%;
    max-width: 30rem;
    padding: 0 0 0;
    margin-bottom: 13rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }


.head {
    font-size: 22pt;
    font-weight:bold;
    padding-top: 20px;
    margin-bottom: 10%;
    font-family: "Prompt", sans-serif;
    color:#4b3c6b;
}
.form {
    background: #ffffff;
    z-index: 1;
    max-width: 100%;
    padding: 10%;
    padding-top: 0%;
    text-align: center;
    border-radius: 0 0 10px 10px;
      /* border: 1px solid red; */
}

.login {
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #5281d8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.register {
    font-family: "Prompt", sans-serif;
    color: #ffffff;
}

.login-error {
    font-family: "Prompt";
    font-size: 13pt;
    color: rgba(220, 0, 0, 0.9);
    border: 2px solid rgba(220, 0, 0, 0.9);
    background-color: rgb(255, 244, 249);
    padding: 4px;
}

error {
    font-family: "Prompt";
    color: rgba(220, 0, 0, 0.9);
    border: 2px solid rgba(220, 0, 0, 0.9);
    background-color: rgb(255, 244, 249);
}

@media (max-width: 41em) {
    .login-error {
        font-size: 11pt;
    }
    
    .login-page {
        margin-bottom: 0rem;
    }
}