@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.centerIcon{
    text-align: center;
}

.centerName{
    font-family: 'Prompt', sans-serif;
    font-size: 20pt;
    font-weight: 700;
    text-align: center;
    color:rgb(94, 47, 126);
}

.centerAccount{
    font-family:'Prompt', sans-serif;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
}

.editTitle{
    font-family:'Prompt', sans-serif;
    padding-top: 30px;
    padding-left: 30px;
}

.saveButton{
    font-family:'Prompt', sans-serif;
}