@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
body.background-reg {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #5f498c;
    background-image: linear-gradient(#5f498c, white)
}
.register-page {
    background: #ffffff;
    width: 90%;
    max-width: 500px;
    padding: 0 0 0;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
.logo {
    height: 130px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    background: #f5df4d;
    display: block;
}
div.logo img {
    margin-top: 2%;
    width: 200px;
}
.form div[type="namebox"] {
    display: flex;
}
.form input[type="name"] {
    margin-right: 10px;
}
.text-backtologin {
    font-family: "Prompt", sans-serif; 
    color: #808080;
}
.form button[type="backtologin"] {
    font-family: "Prompt", sans-serif;
    font-size: 16px;
    color: #077bff;
    cursor: pointer;
    background: #ffffff;
    outline: 0;
    border: 0;
}
.form button[type="register"] {
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #59cf5d;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button[type="register"]:hover,
.form button[type="register"]:active,
.form button[type="register"]:focus {
    background: #4caf50;
}

.cate-reg {
    font-family: "Prompt", sans-serif;
    display: flex;
    background: #ffffff;
    align-items: center;
    width: 80%;
    padding: 5px;
    /* border: 1px solid red; */
}
.cate-reg div[type="choose-role"] {
    align-items: left;
    padding-left: 10px;
    width: 200%;
}
.form input[type="radio"] {
    margin: 0;
}

.accounttype{
    font-family: 'Prompt', sans-serif;
    font-size: 14pt;
    color: #4d4d4d;
}

.choices{
    font-family: 'Prompt', sans-serif;
}
.reg-header-congrat {
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
}
.reg-congrat {
    font-family: 'Prompt', sans-serif;
    color:rgba(0, 0, 0, 0.6);
    padding-bottom: 10%;
    padding-top: 10%;

}
.reg-close {
    text-align: center;
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
    outline: 0;
    padding-bottom: 5%;
    margin-left: auto;
    /* border: 1px solid red; */
    background: 0;
    font-size: 14px;
    cursor: pointer;
    color: #2c2c2c;
}
.reg-login {
    text-align: center;
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 130px;
    padding-bottom: 5%;
    /* border: 1px solid red; */
    background: 0;
    font-size: 14px;
    cursor: pointer;
    color: #0084ff;
}
.reg-password {
    font-family: "Prompt", sans-serif;
    font-size: 14px;
    text-align: left;
}

@media (max-width: 41em) { 
    .reg-password {
        font-family: "Prompt", sans-serif;
        font-size: 12px;
        text-align: left;
    }
    
    
}