@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");


.edit-profile{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 18pt;
    font-weight: 550;
    width: fit-content;

}