@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

.goback-button {
    /* border: 1px solid red; */
    max-width: 42px;
}

.appheader-logo {
    /* border: 1px solid red; */
    margin-right: auto;
    max-width: 100px;
}

.user-role {
    text-align: center;
    font-family: "Prompt", sans-serif;
    color: rgb(255, 240, 107);
    font-size: large;
}
.user-name {
    font-family: "Prompt", sans-serif;
    color: aliceblue;
}
.header-menu {
    margin-left: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.menubar{
    font-family: "Prompt", sans-serif;
}

.hambergur {
    /* border: 1px solid red; */
    max-width: 42px;
}

@media (max-width: 41em) { 
    .header-menu {
        display: none;
    }

    .user-role {
        font-size: 17px;
    }
    .user-name {
        font-size: 15px;
    }
    
}


/* ปิดปุ่มย้อนกลับบนคอม */
/* @media (min-width: 36em) { 
    .goback-button {
        display: none;
    }
    
} */