@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

div.Headbar-Header {
    font-family: "Prompt", sans-serif;
    font-size: large;
}

div.Headbar-Header div[type="header"] {
    display: contents;
}
div.profile-name {
    align-items: right;
    text-align: right;
}
.name {
    text-align: center;
    font-family: "Prompt", sans-serif;
    color: rgb(255, 240, 107);
    font-size: large;
}
.namee {
    font-family: "Prompt", sans-serif;
    color: aliceblue;
}
.pc-header {
    display: flex;
}
.pc-header div {
    text-align: center;
    font-family: "Prompt", sans-serif;
    color: rgb(255, 240, 107);
    margin-right: 1rem;
}

@media (max-width: 35em) { 
    .pc-header {
        display: none;
    }
    
}